@charset "utf-8";

@font-face{
    font-family: karla-regular;
    src: url('/fonts/Karla-Regular.ttf');
}
@font-face{
    font-family: karla-light;
    src: url('/fonts/Karla-Light.ttf');
}
@font-face{
    font-family: karla-semibold;
    src: url('/fonts/Karla-SemiBold.ttf');
}
@font-face{
    font-family: karla-bold;
    src: url('/fonts/Karla-Bold.ttf');
}
@font-face{
    font-family: karla-medium;
    src: url('/fonts/Karla-Medium.ttf');
}
@font-face{
    font-family: karla-italic;
    src: url('/fonts/Karla-Italic.ttf');
}
@font-face{
    font-family: karla-medium-italic;
    src: url('/fonts/Karla-MediumItalic.ttf');
}
@font-face{
    font-family: spectral-extrabold;
    src: url('/fonts/Spectral-ExtraBold.ttf');
}
@font-face{
    font-family: merriweather-black;
    src: url('/fonts/Merriweather-Black.ttf');
}

@media only screen and (min-width: 500px) {
    .work {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 850px) {
    .work {
        grid-template-columns: repeat(2,1fr);
    }
}
body{
    width: 100%;
    font-family: karla-light;
    margin-bottom: 50px;
}
footer {
    text-align: center;
    padding-top: 150px;
    color: gray;
    width: 75%;
    margin-left:auto;
    margin-right: auto;
    font-size: 14px;
  }
header{
    line-height: 50px;
    margin-bottom: 30px;
    display: inline-flex;
}
header p{
    line-height: 30px;
}
.portrait{
    height: 440px;
    display: inline-flex;
}
.header-text{
    padding-left: 40px;
    top: 50%;
    font-size: 20px;
}
.header-text p{
    font-size: 20px;
}
.container{
    animation: transitionIn 2s;
}

@keyframes transitionIn{
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
h1{
    font-family: spectral-extrabold;
    font-size: 55px;
    letter-spacing: -1px;
    margin-top: 20px;
    color: #232323;
}
h2{
    font-family: spectral-extrabold;
    letter-spacing:-1px;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
}
p#pre-h1{
    margin-bottom: 0px;
    font-size: 20px;
    font-family: karla-semibold;
    color: #B7B7B7;
}
p{
    font-size: 18px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 75%;
    margin-top:50px;
    margin-left:auto;
    margin-right: auto;
}
.bio{
    display: inline-block;
    width: 50%;
    line-height: 28px;
}
#clearfix::after{
    content: "";
    clear: both;
    display: table;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}
nav a img{
    vertical-align: middle;
}
.emph-phrase{
    color: #7C9DE0;
    font-family: karla-regular;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 15px;
    color: #888888;
    font-size: 15px;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: #85a3e0;
}
nav ul li a.on-page
{
  color: #444444;
  font-weight: 600;
}
nav ul li a.on-page:hover{
  color: #85a3e0;
  font-weight: 600;
}
.bio_section a{
    color: #85a3e0;
}
.bio_section p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
}
.paragraph a{
    color: #85a3e0;
    font-family: karla-medium;
    text-decoration: underline;
}
.details-content a{
    color: #85a3e0;
}
.work{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}
.work p{
    font-size: 14px;
    margin-bottom: 30px;
}
.work #connect{
    font-family: karla-semibold;
}
.work a {
    color: #85a3e0;
}
.work a:hover {
    color: #85a3e0;
    font-weight: 600;
}
.logo{
    width: 50px;
    height: auto;
    margin-right: 5px;
}
.profile{
    width: 400px;
    height: auto;
    vertical-align: top;
}
.section{
    margin-top: 80px;
}
.name_header{
    margin-right:auto;
}
#emph-name{
    color: #7C9DE0;
}
#emph{
    color: #85a3e0;
}
#name{
    font-size: 20px;
    font-family: karla-medium;
    color: #525252; 
    text-transform: uppercase;
}


/* case studies on work page */

.work_cont {
    position: relative;
    width: auto;
}
  
.work_pic {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 15px;
}

.work_title {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.work_cont:hover .work_pic {
    opacity: 0.2;
}

.work_cont:hover .work_title {
    opacity: 1;
}

.text {
    font-family: karla-semibold;
    color: black;
    font-size: 18px;
    padding: 16px 32px;
    line-height: 25px;
}
.work-desc{
    font-family: karla-light;
    font-size: 18px;
    line-height: 25px;
    color: black;
}


/* case study page */
#case-title{
    font-size: 40px;
    margin: 20px 0;
}
.sub-section{
    margin-top: 80px;
}
.group{
    margin: 10px 0;
    font-family: karla-regular;
    line-height: 25px;
    margin: 25px 0;
}
.subtitle{
    font-family: karla-regular;
    color: #808080;
    margin-top: 0px;
}
.pic-text{
    font-family: karla-regular;
    font-size: 14px;
    color: #808080;
    margin-top: 0px;
    text-align: center;
}
.pic-text-cumulus{
    font-family: karla-regular;
    font-size: 14px;
    color: #808080;
    margin-top: 10px;
    margin-bottom: 100px;
    text-align: center;
}
.sub-section .smaller-gif{
    width: 80%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.sub-section .pic-text{
    margin-top: 10px;
    margin-bottom: 50px;
}
.case_pic{
    object-fit: cover;
    width: 100%;
    height: 500px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.type{
    color: red;
}
.input{
    color: black;
}
.side-section{
    width: 18%;
    padding: 0px 30px 0 0;
    float: left;
}
.main-section{
    width: 60%;
    padding: 0 20px 0 0;
    float: left;
    /* border-style: solid; */
}
.section-label{
    font-family: karla-bold;
    font-size: 18px;
    letter-spacing: 4px;
    color: #85a3e0;
}
.section-content{
    line-height: 25px;
    color: #2C2C2C;
    font-size: 18px;
    font-family: karla-light;
}
.details-container{
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr;
}
.details-item{
    font-size: 18px;
    text-align: left;
}
.details-label{
    font-family: karla-semibold;
    font-size: 16px;
    letter-spacing: 4px;
    color: #BDBDBD;
    margin: 15px 0px 0px 0px;
}
.details-content{
    margin-top: 8px;
    font-size: 18px;
    font-family: karla-light;
}
hr{
    border: 1px solid #DBDBDB;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}
h3{
    font-family: karla-semibold;
    font-size: 30px;
    margin-top: 16px;
}
.paragraph{
    line-height: 30px;
    margin-top: 40px;
    font-size: 18px;
    font-family: karla-light;
}
.paragraph img{
    margin-bottom: 20px;
    margin-top: 30px;
}
ol{
    line-height: 30px;
    font-family: karla-light;
    font-size: 18px;
    display: block;
    margin-bottom: 25px;
}
.grabbd{
    margin-bottom: 25px;
}
li .img-left{
    width: 100%;
    margin-top: 20px;
}
li .img-right{
    float: right;
    width: 100%;
    margin-top: 20px;
}
.emphasis-text{
    font-family:karla-italic;
    font-size: 28px;
    margin: 40px 0px;
    line-height: 38px;
}
.main-section img{
    width: 100%;
}
.emph-word{
    font-family: karla-semibold;
    display: inline;
}
.grabbd-emph-word{
    font-family: karla-semibold;
    display: inline;
    color: #ea9999;
}
.grabbd-emph-text{
    font-family: karla-semibold;
    display: inline;
    color: #61D0C1;
}
.chat{
    line-height: 25px;
}
img.large-pic{
    width: 100%;
    height: auto;
    background-position: center;
    padding-top: 20px;
}
.italic{
    font-family: karla-italic;
}
.prototype .gif{
    width: 50%;
    float: center;
}
.prototype{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-position: center;
}
.quote{
    font-family: karla-medium-italic;
    color: #8FACE2;
    font-size: 20px;
    padding: 8px 0px;
    text-align: left;
}
.quote-right{
    font-family: karla-medium-italic;
    color: #8FACE2;
    font-size: 20px;
    padding: 8px 0px;
    text-align: right;
}